<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="sticky-top d-flex flex-row align-items-center col-12 blur mb-3 p-3 pl-4">
          <h2 class="flex-grow-1 m-0"><%= "#{@user.name}" %> </h2>
          <span class='profile-link m-0'>
            <%= friendship_interaction(@user) %>
          </span>
        </div>
      </div>

      <div class="row">
        <div class=" box d-flex flex-column col-lg-4 mr-lg-3 mb-3 mb-lg-0 p-0 m-0">

          <div class="mb-3 blur pt-3 pr-4 pl-4 pb-5 divided-height">
            <h3 class="mb-1 pt-0">Friends</h3>
            <hr>
            <ul class="list-unstyled overflow-scroll">
              <% @user.friends.each do |confirmed_friend| %>
                <li class="d-flex flex-row">
                  <span><%= link_to confirmed_friend.name,  user_path(confirmed_friend), class: 'flex-grow-1' %></span>
                  <div class="line flex-grow-1"></div>
                  <span><%= friendship_interaction(confirmed_friend) %></span>
                </li>
              <% end  %>
            </ul>
          </div>

          <div class="mb-3 blur pt-3 pr-4 pl-4 pb-5 flex-grow-1 divided-height">
            <h3 class="mb-1 pt-0">Requested Friends</h3>
            <hr>
            <ul class="list-unstyled overflow-scroll">
              <% @user.requested_friends.each do |requested_friend| %>
                <li class="d-flex flex-row">
                  <span><%= link_to requested_friend.name,  user_path(requested_friend), class: 'flex-grow-1' %></span>
                  <div class="line flex-grow-1"></div>
                  <span><%= friendship_interaction(requested_friend) %></span>
                </li>
              <% end  %>
            </ul>
          </div>

          <div class='mb-3 mb-lg-0 blur pt-3 pr-4 pl-4 pb-5 flex-grow-1 divided-height'>
            <h3 class="mb-1 pt-0">Received Invitations</h3>
            <hr>
            <ul class="list-unstyled overflow-scroll">
              <% @user.received_friends.each do |received_friend| %>
                <li class="d-flex flex-row">
                  <span><%= link_to received_friend.name,  user_path(received_friend), class: 'flex-grow-1' %></span>
                  <div class="line flex-grow-1"></div>
                  <span><%= friendship_interaction(received_friend) %></span>
                </li>
              <% end  %>
            </ul>
          </div>


        </div>

        <div class="col blur p-4 box">
          <article class="timeline article-height">
              <h3 class="mb-3">Recent posts:</h3>
              <hr>
              <ul class="posts list-unstyled overflow-scroll article-ul">
                  <%= render @posts %>
                </ul>
            </article>
          </div>
      </div>
    </div>
  </div>
</div>
