<div class="container">
  <div class="row">
    <div class="sticky-top d-flex flex-row align-items-center col blur mb-3 p-3">
      <h2 class="flex-grow-1 m-0"><%= "#{@user.name}" %> </h2>
      <span class='profile-link m-0'>
        <%= friendship_interaction(@user) %>
      </span>
    </div>
  </div>

  <div class="row box">
    <div class="d-flex flex-column col-lg-4 mb-3 mb-lg-0 p-0 mh-100">

      <div class="d-flex flex-column blur p-4 <%= @user == current_user ? 'mb-3 divided-height' : 'h-100' %>">
        <h3 class="line-muted m-0 pb-2 mb-2">Friends</h3>
        <ul class="list-unstyled overflow-scroll m-0">
          <% @user.friends.each do |confirmed_friend| %>
            <li class="d-flex flex-row">
              <span><%= link_to confirmed_friend.name,  user_path(confirmed_friend) %></span>
              <% if @user == current_user %>
                <div class="line flex-grow-1"></div>
                <span><%= friendship_interaction(confirmed_friend) %></span>
              <% end  %>
            </li>
          <% end  %>
        </ul>
      </div>

      <% if @user == current_user %>

        <div class="d-flex flex-column mb-3 blur p-4 divided-height ">
          <h3 class="line-muted m-0 pb-2 mb-2">Requested Friends</h3>
          <ul class="list-unstyled overflow-scroll m-0">
            <% @user.requested_friends.each do |requested_friend| %>
              <li class="d-flex flex-row">
                <span><%= link_to requested_friend.name,  user_path(requested_friend) %></span>
                <div class="line flex-grow-1"></div>
                <span><%= friendship_interaction(requested_friend) %></span>
              </li>
            <% end  %>
          </ul>
        </div>


        <div class="d-flex flex-column blur p-4 divided-height ">
          <h3 class= "line-muted m-0 pb-2 mb-2">Received Invitations</h3>
          <ul class="list-unstyled overflow-scroll m-0">
            <% @user.received_friends.each do |received_friend| %>
              <li class="d-flex flex-row">
                <span><%= link_to received_friend.name,  user_path(received_friend) %></span>
                <div class="line flex-grow-1"></div>
                <span><%= friendship_interaction(received_friend) %></span>
              </li>
            <% end  %>
          </ul>
        </div>

      <% end %>
    </div>

    <div class="col blur ml-lg-3 p-4 h-100">
      <article class="article-height h-100 d-flex flex-column">
        <h3 class="line-muted m-0 pb-2 mb-2">Recent posts:</h3>

        <ul class="flex-grow-1 posts list-unstyled h-100 overflow-scroll article-ul m-0">
          <%= render @posts %>
        </ul>
      </article>
    </div>
  </div>
</div>
