<li class="post mb-4">
  <div>
    <div class='post-attribution' >
      <%= link_to post.user.name, user_path(post.user), class: 'post-author font-weight-bold' %>
      <small class='post-date font-italic '> <%= post.created_at.strftime("%Y/%m/%d") %> </small>
    </div>
    <div class='post-liking '>
      <div class='d-inline-block post-date separator-right'> Likes <%= post.likes.count %> </div>
      <div class='d-inline-block post-date separator-right'> Comments <%= post.comments.count %></div>
<div class='d-inline-block'>
      <%= like_or_dislike_btn(post) %>
</div>
    </div>
  </div>
  <p class="post-content">
    <%= post.content %>
  </p>

  <div class='post-comments-section'>
    <% post.comments.each do |comment| %>
      <div class="post-comments">
        <p>
          <b><%= comment.user.name %>:</b> <%= comment.content %>
        </p>
        <span> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
      </div>
    <% end %>

    <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
      <div class="d-flex flex-row">
        <%= form.text_area :content, id: :comment_content, placeholder: 'Add new Comment', class: "form-control flex-grow-1 mr-2 post-input" %>
        <%= form.submit 'Comment', class: 'post-submit btn btn-primary h-100 border-0 post-input'%>
      </div>
    <% end %>
  </div>
</li>
