<div class="container">
  <div class="row">
    <div class="col p-4 blur form-group ">
      <h3 class="mb-3"> New posts </h3>
      <hr>
      <%= form_for(@post) do |form| %>
        <%= form.label :content %>
        <%= form.text_area :content, id: :post_content, placeholder: 'add new post', class: "post-input blur form-control mb-3" %>
        <% if @post.errors.full_messages.any? %>
          <p class="errors">
            <%= "post could not be saved. #{@post.errors.full_messages.join('. ')}" %>
          </p>
        <% end %>
        <%= form.submit 'save', class: 'w-100 btn btn-primary' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col p-4 blur mt-4 ">
      <article class="timeline">
        <h3 class="mb-3"> Recent posts </h3>
        <hr>
        <ul class="posts p-0 list-unstyled">
          <%= render current_user.timeline_posts %>
        </ul>
      </article>
    </div>
  </div>
</div>
